LOG_LEVEL=debug
JWT_SECRET=secret
DEPLOY_DOMAIN=example.com
BASE_API_URL=https://example.com/api


DB_USER=root
DB_PASSWORD=root

S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_REGION=custom

CLOUDFLARED_TOKEN=
