{{> header }}

<p>Здравствуйте!</p>

<p>Вы были зарегистрированы на платформе <a href="{{ platform_url }}">Minizord</a>. Данные для входа:</p>
<p>email: {{ email }}</p>
<p>пароль: {{ password }}</p>

<p>Если вы считаете, что это произошло по ошибке, не выполняйте вход в аккаунт. Он будет автоматически удалён через 30 дней</p>

{{> footer }}
